/*-- scss:defaults --*/

$body-bg: #f9f5d7;
$body-color: #504945;
$link-color: #928374;
$presentation-heading-color: #3c3836;

/*-- scss:rules --*/

.subtitle {
  font-style: italic;
}

.author {
  text-align: right;
}

.date {
  text-align: left;
}