/*-- scss:defaults --*/

$body-bg: #f9f5d7;
$body-color: #3c3836;
$link-color: #928374;
$font-family-sans-serif: "Cantarell",“Source Sans Pro”, Helvetica, sans-serif;
$presentation-heading-color: #282828;

/*-- scss:rules --*/

.subtitle {
  font-style: italic;
}

.author {
  text-align: right;
}