/*-- scss:defaults --*/

$body-bg: #f9f5d7;
$body-color: #282828;
$link-color: #928374;
$font-family-sans-serif: "Cantarell",“Source Sans Pro”, Helvetica, sans-serif;

/*-- scss:rules --*/

.subtitle {
  font-style: italic;
}